# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Tests
tests/

# Cache
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

reviews.db
coverage.json
docs/
README.md